/* CSS Fiile for Davins Portfolio */


/* -------------------------------------------------------------
	Generic Body Stuff 
---------------------------------------------------------------- */

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
/*	background-color:  hsl(204, 46%, 20%);*/
	background-color: #1C384A;
	font-family: Verdana;
	font-size: 90%;	
}


/* ---------------------------------------------------------------------------
	Generic Classes for  Containers & Sections and Cursive Font for Sections
---------------------------------------------------------------------------- */

@media screen and (min-width: 1080px) {
	.mainContainerGrid {
		width: 80%;
		margin: 0 auto;
	}
}

.colorBackgroundDark {
	/* darker stone blue - using HSL so can easily relate color-lightness */
/*	background-color:  hsl(204, 46%, 44%);*/
	background-color: #3D7BA4;
}

.colorBackgroundLight {
	/* lighter stone blue - using HSL so can easily relate color-lightness */
/*	background-color: hsl(204, 46%, 52%);*/
	background-color: #4C90BD;
}

.sectionPaddingBottom {
	padding-bottom: 20px;
}

.sectionPaddingTop {
	padding-top: 20px;
}



/* ------------------------------------------
	HEADER & NAV 
--------------------------------------------- */

header {
	text-align: center;
	font-size: 120%;
}

/*
.colorHeaderFooter {
	background-color: rgb(87, 24, 103); omit
	background-color: #571867;
	color: #FFFFFF;
}
*/

/* 
.fontSizeNav {
	font-size: 200%;
}
*/

nav {
	padding: 20px;
	background-color: #571867;
	color: #FFFFFF;
	font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
	font-size: 200%;
}

nav a {
	padding: 20px;
	color: #FFFFFF;
	text-decoration: none;
}

nav a:hover {
/*	background-color: rgb(61, 123, 165);*/
	background-color: #3D7BA5;
}

a {
/*	color: hsl(204, 46%, 10%);*/
	color: #0E1C25;
}

/* MQ for Nav */
@media screen and (max-width: 700px) {
	nav {
		font-size: 150%;
	}
}


@media screen and (max-width: 550px) {
	nav a {
		padding: 10px;
	}
	nav {
		padding: 10px;
	}
}

/* ---------------------------------------------------------------------
	MAIN Section with background image & containers & content formatting 
------------------------------------------------------------------------ */

.bkgImageStyle {
	width: 100%;
	height: auto;	
	background-size: cover; /* user cover to get full width, instead of contain */
	background-repeat: no-repeat;
	
}

.opacityBkgImages {
	background-color: rgba(61,123,164,0.7);
	padding-top: 10px;
	padding-bottom: 20px;
}

.bkgImagePicCoding {
	background-image: url("images/bkg_dav_coding_dark_v2.jpeg");
}

.bkgImagePicAbout {
	background-image: url("images/keyboard_chair2_v2.jpeg");
}

.bkgImagePicContact {
	background-image: url("images/blue_book_mac2_v2.jpeg");
}

.containerFlex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-around;
	width: 100%;
}

.articleBox {
	padding: 10px;
	margin: 20px;
	flex: 1 1 250px;
	text-align: center;
}

@media screen and (min-width: 1080px) { 
	.articleBox {
		margin: 40px;
	}
}

.articleBorder {
	border: 5px solid black;
	border-radius: 10px;
/*	border-color:  hsl(204, 46%, 20%);*/
	border-color: #1C384A;
}

.contentIntro {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 50%;
	padding-left: 300px;
}

@media screen and (max-width: 550px) {
	.contentIntro {
		padding-left: 150px;
	}
}

.textAboutMe {
	color: #FFFFFF;
/*	background-color: rgb(87, 24, 103);*/
	background-color: #571867;
	vertical-align: middle;
/* need to set top & bottom margins to 0 so there is no space between the text for the Name and Role */
	margin-top: 0;
	margin-bottom: 0;
	padding: 20px;
	font-size: 130%;
}

.fontSizeMyName {
	font-size: 250%;
}

@media screen and (max-width: 700px) {
	.textAboutMe {
		font-size: 100%;
	}
	.fontSizeMyName {
		font-size: 200%;
	}
}

.colorFontSections {
/*	color: rgb(87, 24, 103);*/
	color: #571867;
	text-align: center;
}

h1 {
	margin: 0;
	padding: 10px 0;
	font-size: 220%;
}

h2 {
	font-size: 130%;
}

@media screen and (max-width: 550px) {
	h1 {
		font-size: 180%;
	}
}

.text-align-bullet {
	text-align: left;
}

.portfolioImageSize {
	max-width: 80%;
}

/* ------------------------------------------
	FOOTER 
--------------------------------------------- */
footer {
	text-align: center;
	padding: 20px ;
	font-size: 80%;
	background-color: #571867;
	color: #FFFFFF;
}
footer a {
	color: #FFFFFF;
	text-decoration: none;
}


/* ------------------------------------------
	COLOR Referencces 
--------------------------------------------- */
/*
purple
rgb(87, 24, 103)

dark blue
rgb(61, 123, 165)

light blue
rgb(82, 165, 224)

light blue (same hue but more light)
background-color:  hsl(205, 70%, 75%); 

dark blue (same hue but more dark)
background-color:  hsl(205, 70%, 60%);

darker stone blue
background-color:  hsl(204, 46%, 52%);
		
lighter stone blue
background-color: hsl(204, 46%, 44%);
*/

