/* CSS File for Davin's Portfolio Website */

/* -------------------------------------------------------------
	Generic Body Stuff 
---------------------------------------------------------------- */

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	background-color: #1C384A;
	font-family: Verdana;
	font-size: 90%;
	line-height: 1.4rem;
}

@import url(//db.onlinewebfonts.com/c/d85e6ab19860a0a1cc2c3d7a3eb7f98c?family=Monotype+Corsiva);

/* ------------------------------------------
	HEADER & NAV 
--------------------------------------------- */

header {
	text-align: center;
	font-size: 120%;
}

nav {
	padding: 32px;
	background-color: #571867;
	color: #FFFFFF;
	font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
	font-size: 200%;
}

nav a {
	padding: 15px;
	color: #FFFFFF;
	text-decoration: none;
}

nav a:hover {
	background-color: #3D7BA5;
}

/* links to GH & other external sites - was #0E1C25 1C384A */
a i {
	color: #ffffff;
}

a:hover i {
	color: #571867;
}

.layout__contact-me i {
	color: #000;
}

/*parent would need to be flexbox? - try purple? 571867*/
.tech_icons i {
	color: #000000;
	padding: 5px 10px;
	align-self: flex-end;
}

@media screen and (max-width: 700px) {
	nav {
		font-size: 150%;
		padding: 24px;
	}
}

@media screen and (max-width: 550px) {
	nav a {
		padding: 7px;
	}
	nav {
		font-size: 120%;
		padding: 15px;
	}
}

@media screen and (max-width: 350px) {
	nav a {
		padding: 5px;
	}
	nav {
		font-size: 100%;
		padding: 10px;
	}
}

/* ---------------------------------------------------------------------
	MAIN Section with containers & background images & content formatting etc
------------------------------------------------------------------------ */


@media screen and (min-width: 1080px) {
	.mainContainerGrid {
		width: 80%;
		margin: 0 auto;
	}
}

.section__title {
	font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
 	color: #571867;
 	text-align: center;
	/*font-weight: bolder;*/
}

.layout__title {
	background-color: #3D7BA4;
	background-image: url("images/bkg_dav_coding_dark_v2.jpeg");
	width: 100%;
	height: auto;	
	background-size: cover; /* use cover to get full width, instead of contain */
	background-repeat: no-repeat;
	padding-bottom: 20px;
	padding-top: 20px;
}

.layout__about-me {
	background-color: #3D7BA4;
	background-image: url("images/keyboard_chair2_v2.jpeg");
	width: 100%;
	height: auto;	
	background-size: cover; /* use cover to get full width, instead of contain */
	background-repeat: no-repeat;
}

.layout__porfolio {
	background-color: #4C90BD;
	padding-bottom: 20px;
	padding-top: 20px;
}

.layout__skills {
	background-color: #3D7BA4;
	padding-bottom: 20px;
	padding-top: 20px;
}

.layout__contact-me {
	background-color: #3D7BA4;
	background-image: url("images/blue_book_mac2_v2.jpeg");
	width: 100%;
	height: auto;	
	background-size: cover; /* use cover to get full width, instead of contain */
	background-repeat: no-repeat;
}

.layout__bkgImage {
	background-color: rgba(61,123,164,0.8);
	padding-top: 10px;
	padding-bottom: 20px;
}

.section__box {
	padding: 10px;
	margin: 20px;
	flex: 1 1 260px;
	text-align: center;
}
.section__box-emphasis {
	padding: 20px;
	margin: 20px;
	flex: 1 1 300px; /* was 250 - try a rem amt?? */
	text-align: center;
	border-radius: 10px;
	box-shadow: inset 0 0 10px #fff;
	align-content: flex-end;
}

@media screen and (min-width: 700px) {
	.section__box {
		margin: 30px;
	}
	.section__box-emphasis {
		margin-left: 30px;
		margin-right: 30px;
		max-width: 70%;
	}
}

@media screen and (min-width: 1080px) { 
	.section__box {
		margin: 40px;
	}
	.section__box-emphasis {
		margin-left: 30px;
		margin-right: 30px;
		max-width: 50%;
	}
}

.section__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-around;
	width: 100%;
}

.container__title {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 50%;
	padding-left: 300px;
}

@media screen and (max-width: 550px) {
	.container__title {
		padding-left: 150px;
	}
}

@media screen and (max-width: 350px) {
	.container__title {
		padding-left: 0;
	}
}

.portfolio-images {
	max-width: 90%;
	border-radius: 10px;
	/* show a transparent border around clickable images */
	border: 5px solid rgba(87, 24, 103, 0);
}

a:hover .portfolio-images {
	border-radius: 10px;
	/* show an opaque border around clickable images on hover */
	border: 5px solid rgba(87, 24, 103, 1);
}

h1 {
	color: #FFFFFF;
	background-color: #571867;
	vertical-align: middle;
/* need to set top & bottom margins to 0 so there is no space between the text for the Title-Name and Title-Subheading  */
	margin-top: 0;
	margin-bottom: 0;
	padding: 20px;
	font-size: 260%;
	font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
	text-align: center;
	letter-spacing: 0.2rem;
}

.title-subheading {
	color: #FFFFFF;
	background-color: #571867;
	vertical-align: middle;
/* need to set top & bottom margins to 0 so there is no space between the text for the Title-Name and Title-Subheading */
	margin-top: 0;
	margin-bottom: 0;
	padding: 20px;
	font-size: 130%;
}

@media screen and (max-width: 700px) {
	.text-title-subheading {
		font-size: 100%;
	}
	h1  {
		font-size: 200%;
	}
}

@media screen and (max-width: 550px) {
	h1 {
		font-size: 180%; /* clashing with MyName font size */
	}
}
	

h2 {
	margin: 0;
	padding: 10px 0;
	font-size: 240%;
}

h3 {
	font-size: 140%;
}

.text-align-bullet {
	text-align: left;
}


/* ------------------------------------------
	FOOTER 
--------------------------------------------- */
footer {
	text-align: center;
	padding: 20px ;
	font-size: 80%;
	background-color: #571867;
	color: #FFFFFF;
}
footer a {
	color: #FFFFFF;
	text-decoration: none;
}


/* ------------------------------------------
	COLOR Referencces 
--------------------------------------------- */
/*
purple
rgb(87, 24, 103)

dark blue
rgb(61, 123, 165)

light blue
rgb(82, 165, 224)
#571867

light blue (same hue but more light)
background-color:  hsl(205, 70%, 75%); 

dark blue (same hue but more dark)
background-color:  hsl(205, 70%, 60%);

darker stone blue
background-color:  hsl(204, 46%, 52%);
		
lighter stone blue
background-color: hsl(204, 46%, 44%);
*/

